<% if @card %>
<div class="card-show">
  <h1 class="set-name"><a href='/magic_sets/<%=@card.magic_set.name%>'><%=@card.magic_set.name%></a></h1>
  <h2 class="card-name"> <%= @card.name %></h2>
  <ul class="card-details">
    <img src= <%= @card.image %> alt= <%= @card.name %> >
    <li> Mana Cost: <%= @card.mana_symbol(@card.mana_cost) %></li>
    <li> Rarity: <%= @card.rarity %> </li>
    <li> Card Type: <%= @card.cardtype %> </li>
    <% if @card.text %>
      <li> Description: <%= @card.text.gsub('\n', " ") %> </li>
    <% end %>
    <% if @card.power %>
      <li>Power: <%= @card.power %> Toughness: <%= @card.toughness %> </li>
    <% end %>
  </ul>
</div>
<% elsif cards %>
<% cards.each do |card| %>
  <div class="card-show">
    <h1 class="set-name"><a href='/magic_sets/<%=card.magic_set.name%>'><%=card.magic_set.name%></a></h1>
    <h2 class="card-name"> <%= card.name %></h2>
    <ul class="card-details">
      <img src= <%= card.image %> alt= <%= card.name %> >
      <li> Mana Cost: <%= card.mana_symbol(card.mana_cost) %></li>
      <li> Rarity: <%= card.rarity %> </li>
      <li> Card Type: <%= card.cardtype %> </li>
      <% if card.text %>
        <li> Description: <%= card.text.gsub('\n', " ") %> </li>
      <% end %>
      <% if card.power %>
        <li>Power: <%= card.power %> Toughness: <%= card.toughness %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% else %>
  <div class="card-show">
    <h1 class="set-name"><a href='/magic_sets/<%=card.magic_set.name%>'><%=card.magic_set.name%></a></h1>
    <h2 class="card-name"> <%= card.name %></h2>
    <ul class="card-details">
      <img src= <%= card.image %> alt= <%= card.name %> >
      <li> Mana Cost: <%= card.mana_symbol(card.mana_cost) %></li>
      <li> Rarity: <%= card.rarity %> </li>
      <li> Card Type: <%= card.cardtype %> </li>
      <% if card.text %>
        <li> Description: <%= card.text.gsub('\n', " ") %> </li>
      <% end %>
      <% if card.power %>
        <li>Power: <%= card.power %> Toughness: <%= card.toughness %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
