<div class="container">
  <form action="/cards/dtk/<%=@card.id%>" method="post">
    <input type="hidden" name="_method" value="put">
    <div>
      <label>Name:</label>
      <input type="text" name="entry[name]" value="<%=@card.name%>">
    </div>
    <div>
      <label>Description:</label>
      <input type="text" name="entry[text]" value="<%=@card.text%>">
    </div>
    <div>
      <label>Power:</label>
      <input type="text" name="entry[power]" value="<%=@card.power%>">
      <label>Toughness:</label>
        <input type="text" name="entry[toughness]" value="<%=@card.toughness%>">
    </div>
      <input type="submit" value="Save">
  </form>
</div>
