<% @deck = Deck.find(params[:id]) %>
<h3 class="deck-name"><%=@deck.name%></h3>

<ul class=deck-details>
  <% @deck.entries.each do |entry| %>
    <li><%= entry.quantity%> - <a href="/cards/<%=entry.card.name.gsub(" ", "_")%>"><%= entry.card.name%></a> </li>
  <% end %>
</ul>

<form method="post" action="/decks/<%=@deck.id%>">
  <input type="hidden" name="_method" value="put">
  <div class="input_field">
    <input type="text" name="card_name" placeholder="Enter Card"><input type="text" name="quantity" placeholder="Enter Quantity"><input class="add-card" type="submit" value="add card">
  </div>
</form>
