<% @deck = Deck.find(params[:id]) %>
<h3 class="deck-name"><%=@deck.name%></h3>

<ul class=deck-details>
  <% @deck.entries.each do |entry| %>
    <li><%= entry.quantity%> - <a href="/cards/<%=entry.card.name.gsub(" ", "_")%>"><%= entry.card.name%></a><%= erb :'/decks/_delete-entry', layout: false, locals: { entry: entry } %></li>
  <% end %>
</ul>

<% if session[:user_id] == @deck.user.id %>
  <form method="post" action="/decks/<%=@deck.id%>">
    <input type="hidden" name="_method" value="put">
    <div class="input_field">
      <input type="number" name="quantity" placeholder="Enter Quantity"><input type="text" name="card_name" placeholder="Enter Card"><input class="add-card" type="submit" value="add card">
    </div>
  </form>
  <div class="delete-deck">
    <%= erb :'/decks/_delete-deck', layout: false, locals: { deck: @deck } %>
  </div>
<% end %>

<div class="error">
  <% if @error %>
    <p> <%= @error %></p>
  <% end %>
</div>
